body{
    background-image: url(/Img/geometry2.png);
}

/***********************************************************************************************
====================================== TABLERO =================================================
***********************************************************************************************/

#tablero{
    min-height: 300px;
    border: 1px solid #afafaf;
    border-radius: 5px;
    padding: 0px 70px;
    background-color: #FFFFFF;
}
.fichas{
    padding: 0px 5px !important;
    margin: 0px!important;
}
.ficha{
    height: 50px;
    background-color: rgba(59, 57, 61, 0.6);
    margin: 5px 0px;
    border-radius: 5px;
    border: medium none;
    height: 50px;
    width: 100%;
}
#ActivoAzul{
    background-color: rgba(0, 0, 255, 1);  
}
#ActivoRojo{
    background-color: rgba(255, 0, 0, 1); 
}
#ActivoAmarillo{
    background-color: rgba(255, 255, 0, 1); 
}
#ActivoVerde{
    background-color: rgba(0, 182, 0, 1);
}
#ActivoMorado{
    background-color: rgba(176, 0, 227, 1);
}
#ActivoLila{
    background-color: rgba(215, 168, 227, 1);
}

/***********************************************************************************************
======================================= PISTAS =================================================
***********************************************************************************************/

#ZonaPistas{
    min-height: 300px;
    border: 1px solid #afafaf;
    border-radius: 5px;
    padding: 0px 15px;
    margin: 0px 10px 0 30px;
    background-color: #FFFFFF;
}
.pista{

    height: 20px;
    background-color: rgba(59, 57, 61, 0.6);
    margin: 5px 0px;
    border-radius: 5px;
}
.pistas{
    padding: 0px 5px !important;
    margin: 0px!important;
}
#PistaNegra{
    background-color: #000000;
}
#PistaBlanca{
    background-color: #ffffff;
    border: 1px solid #000000;
}
#PistaNula{
    display: none;
}
/***********************************************************************************************
======================================= PANEL JUGADOR ==========================================
***********************************************************************************************/
.PanelJugador{
    min-height: 500px;
    border:1px solid #afafaf;
    border-radius: 5px;
    padding: 10px 15px !important;
    margin: 0px 10px;
    background-color: #FFFFFF;
}
#Jugador{
    width: 100%;
    float: left;
}
#Jugador p{
    float: left;
    font-weight: bold;
    text-align: right;
    margin-right: 5px;
}
#NombreJugador{
    float: left;
    text-align: left;
}
#InfoJugador{
    float: left;
    min-height: 80px;
    margin-top: 15px;
    
}
#Intentos{
    width: 100%;
    float: left;
}
#Intentos p{
    float: left;
    font-weight: bold;
    text-align: right;
    margin-right: 5px; 
}
#NumIntentosRestantes{
    float: left;
    text-align: left; 
}
#NuevoJuego{
    padding: 25px 25px
}
#NuevoJuego input{
    height: 50px;
}
#NuevoJugoBtn{
    height: 50px;
    width: 110px;
}

#ColoresPosibles{
    margin-top: 20px;
}
#PosibleRojo{
    background-color: rgba(255, 0, 0, 1); 
}
#PosibleAzul{
    background-color: rgba(0, 0, 255, 1);  
}
#PosibleVerde{
    background-color: rgba(0, 182, 0, 1);
}
#PosibleAmarillo{
    background-color: rgba(255, 255, 0, 1);
}
#PosibleMorado{
    background-color: rgba( 142, 10, 224, 1 );

}
#PosibleLila{
    background-color: rgba( 226, 147, 255, 1 );
}

#BotonProbarCombi{
    text-align: center;
    margin: auto;
    padding: auto;
    width: 100%;
}


/***********************************************************************************************
====================================== PiePagina ===============================================
***********************************************************************************************/

#fin{
    background-color: rgba(86, 87, 88, 0.5);
    height: 100%;
    width: 100%;
    text-align:center;
    border-top: 1px solid #2F4F4F;
    margin-top: 20px;
}
#fin div{
  padding: 10px;
}
#columnaCentralFin{
    border-left: 1px solid rgba(40, 40, 40, 1);
    padding: 0px;
}
#columnaCentralFin h1{
    margin-top: -10px;
    color: white;
    font-size: 25px;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}
#columnaCentralFin p{
    font-size: 12px;
    margin: 0px
}
#columnaIzquierda span{
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
    color: white;
}
#columnaDerecha{
    border-left: 1px solid rgba(40, 40, 40, 1);
    padding-left: 50px;
    font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
    font-size: 50px;
    color: #FFFFFF;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}
#columnaDerecha img{ 
    margin-right: 10px;
    margin-bottom: 10px;
}
